{% extends 'base.html.twig' %}

{% block tittle %} Log in {% endblock %}

{% block body %} 
    {% if error %}
        <div>{{error.messageKey|trans(error.messageData, 'security')}}</div>
    {% endif %}

    <div class="container p-5">
        <h1 class="text-center">TiendaFes</h1>
        <div class="d-flex justify-content-center">
            <form class="col-md-6 col-lg-4 p-4 bg-body-secondary" method="post">
                <h1 class="text-center">Inicia Sesion</h1>
                <div>
                    <label for="username">Usuario: </label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{last_username}}" required>
                </div>
                    
                <div>
                    <label for="password">Password: </label>
                    <input class="form-control" type="password" id="password" name="_password" required>
                </div>
                
                <div class="text-center p-3">
                    <button class="btn btn-primary" type="submit">Iniciar Sesion</button>
                </div>
                <hr>
                <div class="text-center">
                    <a class="p-3 text-center" href="{{ path('registrar')}}">Crear una cuenta</a>
                </div>
            </form>
        </div>
    </div>
    <footer class="bg-black text-white p-3">
        <div class="row">
            <div class="col-2">
                <Address>TiendaFes</Address>
                <p>Yanni Axel</p>
            </div>
            <div class="col-10">
                <a class="text-white" href="">Home</a><br>
                <a class="text-white" href="">About</a><br>
                <a class="text-white" href="">Contact</a><br>
                <a class="text-white" href="">FAQ</a><br>
            </div>
        </div>
    </footer>
{% endblock %}